<section id="collapse">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="content-header">Administración de Cuentas Contables</div>
            <p class="content-sub-header mb-1">Desde esta pantalla se van a poder configurar las cuentas contables.</p>
        </div>
    </div>

    <div class="row text-left">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body" *ngIf="loaded">
                        <div *ngFor="let row of rows" class="cuenta {{ getClassRow(row) }}">
                            <cuenta-registro [cuenta]="row" [parent]="parent"> </cuenta-registro>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
