<section id="collapse">
    <!-- <div class="row">
        <div class="col-12 col-md-6">
            <div class="content-header">Libro Mayor</div>
            <p class="content-sub-header mb-1">Desde esta pantalla se podrán mostrar los libros mayores</p>
        </div>
    </div> -->

    <div class="row mt-2">
        <div class="col-4 col-md-4 col-xl-2">
            <fieldset class="form-group">
                <label for="input-nombre">Periodo</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaInicio" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker" />
                    <button class="btn btn-outline-info far fa-calendar-alt ml-1" (click)="d.toggle()" type="button"></button>
                </div>
                <ng-template #footerTemplate>
                    <hr class="my-0" />
                    <button class="btn btn-primary btn-sm m-2 float-start" (click)="model = today; d.close()">Today</button>
                    <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">Close</button>
                </ng-template>
            </fieldset>
        </div>
        <div class="col-4 col-md-4 col-xl-2">
            <fieldset class="form-group">
                <label for="input-nombre"></label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaFin" ngbDatepicker [footerTemplate]="footerTemplate" #df="ngbDatepicker" />
                    <button class="btn btn-outline-info far fa-calendar-alt ml-1" (click)="df.toggle()" type="button"></button>
                </div>
                <ng-template #footerTemplate>
                    <hr class="my-0" />
                    <button class="btn btn-primary btn-sm m-2 float-start" (click)="model = today; df.close()">Today</button>
                    <button class="btn btn-secondary btn-sm m-2 float-end" (click)="df.close()">Close</button>
                </ng-template>
            </fieldset>
        </div>
        <div class="col-4 col-md-6 col-xl-4">
            <fieldset class="form-group">
                <label for="input-nombre">Cuenta</label>
                <cuenta-select (changeEvent)="selectCuenta($event)"></cuenta-select>
            </fieldset>
        </div>
        <div class="col-4">
            <button class="btn btnl-lg btn-primary mt-3" (click)="refresh()">CARGAR</button>
        </div>
    </div>

    <ng-template [ngIf]="loaded">
        <div class="container-table">
            <table width="100%" class="table table-transparent table-striped table-dark">
                <thead class="thead-dark">
                    <th width="5%">#</th>
                    <th width="8%">Fecha</th>
                    <th width="18%">Referencia</th>
                    <th width="23%">Tercero</th>
                    <th width="10%">Debito</th>
                    <th width="10%">Credito</th>

                    <th width="13%">Saldo Debito</th>
                    <th width="13%">Saldo Credito</th>
                </thead>
                <tbody>
                    <ng-template ngFor let-reg [ngForOf]="registros">
                        <tr class="row-space"></tr>
                        <tr>
                            <!-- número # -->
                            <td>
                                {{ getField(reg, "asiento.id") }}
                            </td>
                            <!-- FECHA -->
                            <td>
                                {{ getField(reg, "fecha") }}
                            </td>
                            <!-- referencia -->
                            <td>
                                {{ getField(reg, "asiento.referencia") }}
                            </td>
                            <!-- Tercero -->
                            <td>
                                {{ getField(reg, "entidad.nombre") }}
                            </td>
                            <!-- <td class="td-cuenta">
                        <p class="{{getClass(reg)}}">{{ getField(reg,"cuenta-nombre") }}</p>
                    </td> -->
                            <td class="td-debito monto">
                                <p *ngIf="reg.debito > 0">{{ functionService.formatMoney(reg.debito) }}</p>
                            </td>
                            <td class="td-credito monto">
                                <p *ngIf="reg.credito > 0">{{ functionService.formatMoney(reg.credito) }}</p>
                            </td>
                            <td class="saldo-debito monto">
                                <p class="p-saldo-debito" *ngIf="reg.debito > 0">{{ functionService.formatMoney(reg.saldoAntDebitoEmpresa) }}</p>
                            </td>
                            <td class="saldo-credito monto">
                                <p class="p-saldo-credito" *ngIf="reg.credito > 0">{{ functionService.formatMoney(reg.saldoAntCreditoEmpresa) }}</p>
                            </td>
                        </tr>
                        <!-- <tr >
                    <td>
                        {{ getFieldReg('entidad',reg) }}
                    </td>
                    <td class="td-cuenta">
                        <p class="{{getClass(reg)}}">{{ reg.cuenta.nombre }}</p>
                    </td>
                    <td class="td-debito">
                        <p *ngIf="reg.debito > 0">{{ functionService.formatMoney(reg.debito) }}</p>
                    </td>
                    <td class="td-credito">
                        <p *ngIf="reg.credito > 0">{{ functionService.formatMoney(reg.credito) }}</p>
                    </td>
                </tr> -->
                        <!-- <tr class="row-footer">
                    <td colspan="5">
                        
                    </td>
                    <td class="td-debito td-total"> 
                        <p>{{ functionService.formatMoney(asiento.debito) }}</p>
                    </td>
                    <td class="td-credito td-total"> 
                        <p>{{ functionService.formatMoney(asiento.debito) }}</p>
                     </td>
                </tr> -->
                        <tr class="row-space"></tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <footer [paginate]="paginateData" (setPageEvent)="SetPage($event)"></footer>
    </ng-template>
</section>
