.list-icon {
    font-size: 1rem !important;
}

.icon-edit {
    color: white !important;
}

.icon-delete {
    color: rgb(197, 111, 111) !important;
}

.p-codigo {
  font-weight: bolder;
  color:#fca904;
  text-transform: uppercase;
}

.codigo-icono {
  font-size: 2rem;
  color:#fca904;
}

.estado-finalizado {
  color:rgb(252, 121, 121);
  font-weight: bold;
}

.estado-enEdicion {
  color: rgb(105, 142, 167);
}
