<div class="container">
    <div class="w-100 imagen-completa">

        <div *ngIf="archivo_seleccionado; else loading">

            <div>
                <div class="w-100">
                    <div class="row">
                        <div class="col-2 only-desktop">
                            <div class="d-flex flex-column">
                                <div *ngIf="loading_page; else loadingPaginate">
                                    <img *ngFor="let archivo of paginateData.content" [src]=previewCreate(archivo)
                                        alt="Imagen {{archivo.uuid}}" (click)="this.selectImagen(archivo.uuid)"
                                        class="mt-1 pointer" style="max-height: 19vh">
                                </div>

                                <ng-template #loadingPaginate>
                                    <div class="loader-spin">
                                        <div></div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-center w-100">
                            <img [src]=imagenSelectCreate(archivo_seleccionado)
                                alt="Imagen {{archivo_seleccionado.uuid}}" style="max-height: 80vh; max-width: 100%"
                                class="pointer" (click)="abrirImagenNuevaVentana()">

                            <div *ngIf="loading_archivo_seleccionado; else loadingImagenPrincipal"
                                style="position: absolute; top: 50%;">
                                <div class="loader-spin" style="margin: 0;">
                                    <div style="margin: 0;"></div>
                                </div>
                            </div>
                            <ng-template #loadingImagenPrincipal></ng-template>

                        </div>

                        <div class="col-2 only-desktop"></div>
                    </div>

                    <div class="w-100 imagenes-previews only-mobile">
                        <div *ngIf="loading_page; else loadingPaginate" class="d-flex justify-content-around">
                            <img *ngFor="let archivo of paginateData.content" [src]=previewCreate(archivo)
                                alt="Imagen {{archivo.uuid}}" width="20%" (click)="this.selectImagen(archivo.uuid)"
                                class="mt-2 pointer">
                        </div>
                        <ng-template #loadingPaginate>
                            <div class="loader-spin">
                                <div></div>
                            </div>
                        </ng-template>
                    </div>

                    <footer class="mt-2 imagenes-paginate" [showSelector]="false" [paginate]="paginateData"
                        (setPageEvent)="SetPage($event)">
                    </footer>
                </div>
            </div>
        </div>

        <ng-template #loading>
            <div class="loader-spin">
                <div></div>
            </div>
        </ng-template>

    </div>
</div>