.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.div-imagen-zoom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 100vh !important;
    overflow: auto;
}

.controls {
    position: fixed;
    top: 0px;
    right: 30px;
    height: 100% !important;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
        cursor: pointer;
        font-size: 30px;
        margin: 10px;
    }
}
