.title{
  font-size: 1.5rem;
  font-variant: small-caps;
  font-weight: 500;
  font-family: ui-serif;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid white;
  padding-left: 2rem;
  padding-right: 2rem;
}