.expandir{
  margin-left:2rem;
}
.cuenta {
  // border-top: 0.1px solid gray;
  border-bottom: 0.1px solid gray;
  width: 100% !important;
  margin-top: 1rem;
}
cuenta-registro{
  width: 100%  !important;
}

.codigo {
  color: gray;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}