.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content: ">" !important;
}
.img-logo{
  width:40px;
}
.titulo-sistema{
  font-size: 1rem;
}
.menu-title{
  font-size: 1vw;
}
