.gallery-cont {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gallery {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

@media only screen and (min-width: 508px) {
    .gallery {
        justify-content: flex-start;
    }
}

.image-preview {
    width: 100%;
    padding: 1rem;
    position: absolute;
}

.div-imagen {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: white;
    width: 210px;
    height: 347px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.div-imagen:hover {
    box-shadow: 5px 5px 10px rgba(0, 140, 186, 0.8);
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    scale: 1.1;
    cursor: pointer;
}
