ngb-datepicker {
  position: absolute;
  background-color: white;

  .ngb-dp-header {
      background-color: rgba(52,104,191,1);
  }

  select {
      background-color: rgba(52,104,191,1);
      color: white;
  }
}
.btn-select{
  width: 100% !important;
}
// button{
//   width: 100% !important;
// }

.custom-select{
  color: black !important;
}
.select-periodo{
  width: 100% !important;
}

// .btn-group{
//   width: 100% !important;
// }