<table class="table table-striped">
    <tbody>
        <tr>
            <td>Tipo de expediente</td>
            <td>{{ documento.documentoTipo.nombre }}</td>
        </tr>
        <tr>
            <td>Dependencia iniciadora</td>
            <td>{{ documento.dependencia.nombre }}</td>
        </tr>
        <tr>
            <td>Prefijo</td>
            <td>{{ documento.prefijo }}</td>
        </tr>
        <tr>
            <td>Numero expediente</td>
            <td>{{ documento.numeroExpediente }}</td>
        </tr>
        <tr>
            <td>Año</td>
            <td>{{ documento.anio }}</td>
        </tr>
        <tr>
            <td>Caratula</td>
            <td>{{ documento.caratula }}</td>
        </tr>
    </tbody>
</table>
