<div class="row" *ngIf="registro.status == 0">
    <div class="col-1">
        <label for="input-nombre">Ref</label>
        <input class="form-control" [(ngModel)]="registro.referencia" />
    </div>
    <div class="col-3">
        <label for="input-nombre">Cuenta</label>
        <cuenta-select (changeEvent)="selectCuenta($event)"></cuenta-select>
    </div>
    <div class="col-4">
        <label for="input-nombre">Descripcion</label>
        <input class="form-control" [(ngModel)]="registro.descripcion" />
    </div>
    <div class="col-2">
        <ng-template [ngIf]="registro.credito == 0">
            <label for="input-nombre">Débito</label>
            <input class="form-control" [(ngModel)]="registro.debito" />
        </ng-template>
    </div>
    
    <div class="col-2">
        <ng-template [ngIf]="registro.debito == 0">
            <label for="input-nombre">Crédito</label>
            <input class="form-control" [(ngModel)]="registro.credito" />
        </ng-template>
    </div>

    <div class="d-inline-flex">
        <i (click)="deleteRegistro()" class="fas fa-minus-circle warning cursor-pointer" ></i>
    </div>
</div>